name: CI

on:
  pull_request:
    types: [opened, synchronize, ready_for_review, edited, closed] # synchronize is specified for check

jobs:
  run-tasks:
    name: Run npm tasks
    if: github.event.action != 'closed' || github.event.pull_request.merged
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v3
      - name: Set up Node
        uses: actions/setup-node@v3
        with:
          node-version: 16
      - name: Run tasks
        run: |
          npm ci
          npm run check
      - name: Check dist directory for no changes # Check if dist/index.js commit is missing
        run: |
          if [ "$(git diff --ignore-space-at-eol dist/ | wc -l)" != '0' ]; then
            echo 'Changes detected.'
            exit 1
          fi
  use-action:
    name: Use this action for check
    if: github.event.action != 'closed' || github.event.pull_request.merged
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v3
      - name: Use this action
        uses: ./
        id: assign
        with:
          assignees: ${{ github.actor }}
          bot-accounts: some-bot
          #reviewers: foo, bar, baz
          #max-num-of-reviewers: 2
          draft-keyword: wip
          ready-comment: 'Ready for review :rocket: `<reviewers>`'
          merged-comment: 'It was merged. Thanks for your review :wink: `<reviewers>`'
      - name: Show result
        if: always()
        run: echo '${{ steps.assign.outputs.result }}'
